
@{
    ViewBag.Title = "BookTicket";
    long dem = 1;
    long tongtien;
}
<style>
    th {
        padding-left: 20px;
    }
    /* Make sure there's enough space below the table */
    .table-container {
        width: 800px;
        background-color: ghostwhite;
        border-radius: 8px;
        border: 1px solid cornflowerblue;
        margin-left: 15%;
    }

    /* Style the button */
    .btn-pay {
        width: 400px;
        height: 40px;
        text-align: center;
        font-weight: 700;
        background-color: orange;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .sum-hoadon {
        padding-left: 80%;
        color: orangered;
    }
    .container.body-content {
        height: 100vh !important;
    }

    .footer {
        position: sticky;
        bottom: 0;
    }
</style>
<div style=" display:flex;color:orange; font-size:25px">
    <a style="color:orange;" href="@Url.Action("HomePage", "Taikhoan")">TRANG CHỦ</a>||<a style="color: orange;" href="@Url.Action("BookTickets", "Taikhoan")">HÓA ĐƠN</a>
</div>
<div class="table-container">
    <h5 style="padding-left:35%;">HÓA ĐƠN THANH TOÁN</h5>
    <table class="table">
        <tr style="font-size:larger">
            <th scope="col">STT</th>
            <th scope="col">Tên phim </th>
            <th scope="col">Thời lượng</th>
            <th scope="col">Ngày chiếu</th>
            <th scope="col">Giờ</th>
            <th scope="col">Phòng</th>
            <th scope="col">Ghế</th>
            <th scope="col">Giá vé</th>
        </tr>
        @foreach (EudoraCinema.Models.HoadonEntity item in Model)
        {

            <tr style="text-align:center; font-weight:100">
                <th scope="row">@dem</th>
                <th>@item.sTenphim </th>
                <th>@item.sThoiluong</th>
                <th>@item.tNgaybatdau.Date.ToString("dd/M/yyyy")</th>
                <th>@item.hGiochieu</th>
                <th>@item.FK_iPhongchieuID</th>
                <th>@item.FK_iGheID</th>
                <th>50.000đ</th>
            </tr>
            dem++;
        }
    </table>
    <div class="sum-hoadon">
        <label>Tổng tiền</label>
        @{tongtien = (dem-1) * 50000; }
        @tongtien
    </div>
</div>
@*<button class="btn-pay btn btn-muave">Thanh toán</button>*@
<a href="@Url.Action("setStatusSeat", "Taikhoan")" ><button class="btn-pay btn btn-muave">Thanh toán</button></a>

