
@{
    ViewBag.Title = "BookTicket";
    long dem = 1;
    long tongtien;
}
<style>
    th {
        padding-left: 20px;
    }
    /* Make sure there's enough space below the table */
    .table-container {
        margin-bottom: 100px;
    }

    /* Style the button */
    .btn-pay {
        width: 400px;
        height: 40px;
        text-align: center;
        font-weight: 700;
        background-color: orange;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
</style>
<div style=" display:flex;color:orange; font-size:25px">
    <a style="color:orange;" href="@Url.Action("HomePage", "Taikhoan")">TRANG CHỦ</a>||<a style="color: orange;" href="@Url.Action("BookTickets", "Taikhoan")">HÓA ĐƠN</a>
</div>
<div class="table-container">
    <table style="margin-left:400px; padding:100px;">
        <tr style="font-size:larger">
            <th>STT</th>
            <th>Tên phim </th>
            <th>Thời lượng</th>
            <th>Ngày chiếu</th>
            <th>Giờ</th>
            <th>Phòng</th>
            <th>Ghế</th>
        </tr>
        @foreach (EudoraCinema.Models.HoadonEntity item in Model)
        {

            <tr style="text-align:center; font-weight:100">
                <th>@dem</th>
                <th>@item.sTenphim </th>
                <th>@item.sThoiluong</th>
                <th>@item.tNgaybatdau.Date.ToString("dd/M/yyyy")</th>
                <th>@item.hGiochieu</th>
                <th>@item.FK_iPhongchieuID</th>
                <th>@item.FK_iGheID</th>
                <th>50.000đ</th>
            </tr>
            dem++;
        }
    </table>
    <div>
        @{tongtien = (dem-1) * 50000; }
        @tongtien
    </div>
</div>
@*<button class="btn-pay btn btn-muave">Thanh toán</button>*@
<a href="@Url.Action("setStatusSeat", "Taikhoan")" ><button class="btn-pay btn btn-muave">Thanh toán</button></a>

