@model EudoraCinema.Models.PhimEntity

@{
    ViewBag.Title = "FilmDetail";
}

<div>
    <h1>Trang chủ > @Html.DisplayFor(model => model.sTenphim) </h1>
    <hr />
    <div style="display:flex;">
        <div>
            <textarea class="list-phim_base64" style="display: none;">
                @Html.DisplayFor(model => model.sAnh)
            </textarea>
        </div>
        <div style="padding-left:10px;">
            <div><h1>@Html.DisplayFor(model => model.sTenphim)</h1></div>
            <div>@Html.DisplayFor(model => model.sThoiluong)</div>
            <div>@Html.DisplayFor(model => model.dNgaykhoichieu)</div>
            <div>@Html.DisplayFor(model => model.sDaodien)</div>
            <div>@Html.DisplayFor(model => model.sDienvien)</div>
            <div>@Html.DisplayFor(model => model.sMota)</div>
            <div>@Html.DisplayFor(model => model.sNgonngu)</div>
            <div></div>
        </div>
    </div>
</div>
<script>
    var elements = document.querySelectorAll(".list-phim_base64");
        for (var i = 0; i < elements.length; i++) {
            var base64String = elements[i].textContent.trim();
            var img = new Image();

            img.onload = function () {
                this.style.display = 'block';
            };

            img.src = base64String;
            img.style.width = '400px';
            img.style.height = '633px';
            img.style.borderRadius = '8px';

            elements[i].parentNode.insertBefore(img, elements[i].nextSibling);
            elements[i].style.display = 'none';

        }
</script>