
@{
    ViewBag.Title = "MovieshowtimeList";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lịch chiếu</title>
    <link href="~/Content/MovieshowtimeList.css" rel="stylesheet" />
</head>
<style>
    .container.body-content {
        height: 100vh !important;
    }

    .footer {
        position: sticky;
        bottom: 0;
    }
</style>
<body>
    <div style=" display:flex;color:orange; font-size:25px">
        <a style="color:orange;" href="@Url.Action("HomePage", "Taikhoan")">TRANG CHỦ</a>||<a style="color: orange;" href="@Url.Action("HomePage", "Taikhoan")">DANH SÁCH LỊCH CHIẾU</a>
    </div>
    @foreach (EudoraCinema.Models.LichchieuEntity item in Model)
    {

        <div style="float:left" class="list-lichchieu">
            <div>
                <div style="color:#0094ff" class="list-lichchieu_date">@item.tNgaybatdau.Date.ToString("dd/M/yyyy")</div>
            </div>
            <label>Suất chiếu</label>
            <div>
                <div class="list-lichchieu_time"><a href="@Url.Action("ListSeats", "Taikhoan", new { ngaychieu = item.tNgaybatdau,giochieu=item.hGiochieu,FK_iPhongchieuID=item.FK_iPhongchieuID,PK_iLichchieuID=item.PK_iLichchieuID})">@item.hGiochieu .00</a></div>
            </div>
        </div>
    }
    <br />
</body>
</html>